
div {
    width: 400px;
    height: 900px;
    margin-bottom: 10px;
  }

img {
    width: 100%;
}

p {
    width: 100%;
    text-align: justify;
}
.homer {
    background: #8852f5;
}
.bart {
    background: #2c9dd5;
}
.lisa {
    background: #f556f5;
}